@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --bord-col1: #D9D9DB;
    --bord-col2: grey;
    --bord-col3: black;
    --bgcolor1: white;
    --bgcolor2: #0061FF;
    --bgcolor3: #B4D0E7;
    --bgcolor4: #f5f5f5;
    --bgcolor5: #A2D39B;
    --bgcolor6: #61082B;
    --bgcolor7: #0093CE;
    --bgcolor8: #ff1c1c;
    --bgcolor9: #D5001F;
    --bgcolor10: #0d2481;
    --bgcolor11: #ffd830;
    --bgcolor12: #F2EEE8;
}
body{
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 100%;
}
html { 
    scroll-behavior: smooth; 
   } 
.pad-top50{
    padding-top: 50px;
}
.pad-top30{
    padding-top: 30px;
}
.pad-top13{
    padding-top: 13vh;
}
.pad-bot13{
    padding-bottom: 13vh;
}
.pad-bot50{
    padding-bottom: 50px;
}
.border-all{
    border: 1px solid var(--bord-col1);
}
.border-bot{
    border-bottom: 1px solid var(--bord-col1);
}
/* header */
header{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid var(--bord-col1);
    background-color: var(--bgcolor1);
}
.logo{
    padding-right: 10px;
}
.txt-head{
    display: flex;
    align-items: center;
}
.ul-head ul li{
    display: inline-block;
    list-style: none;
    padding: 30px;
}
.ul-head ul li a,
.btn a,
.btn-section a
{
    text-decoration: none;
    padding: 30px 20px;
    color: black;
}
.ul-head ul li a:hover{
    border-bottom: solid 3px var(--bord-col3);
}
.btn{
    background-color: var(--bgcolor2);
    padding: 5px 0;
    text-align: center;
}
.btn a{
    color: white;
}
/* main */
main{
    padding-top: 80px;
}
.jumbo{
    background-color: var(--bgcolor3); 
}
.cont{
    max-width: 65vw;
    width: 100%;  
    margin: 0 auto;
}
.cont h1{
    font-size: 80px;
    padding: 60px 0;
}
.flex-wrap-space{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.txt-jumbo{
    width: 31%;
}
.btn-width{
    width: 250px;
    padding: 15px 0;
    margin: 40px 0;
}
.arrow{
    font-size: 50px;
}
.arrow a{
    text-decoration: none;
    color: black;
}
.img-jumbo{
    width: 69%;
    position: relative;
}
.img-jumbo img{
    position: absolute;
    top: 0%;
    left: 0%;
}
.container{
    width: 100%;
    max-width: 55vw;  
    margin: 0 auto;
    position: relative;
}
.div-title{
    font-size: 43px;
    font-weight: 700;
}
.fake-radio{
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.radio{
    width: 15px;
    height: 15px;
}
.checked{
    border: var(--bgcolor2) solid 4px;
    border-radius: 100%;
}
.unchecked{
    border: var(--bord-col2) solid 2px;
    border-radius: 100%;
}
.txt-radio{
    padding: 0 30px 0 5px; 
}
.column{
    width: calc(100% / 3 - 40px);
    margin-bottom: 30px;
}
.head-column{
    text-align: center;
    padding: 5px;
    font-size: 15px;
}
.main-column{
    padding: 25px;
}
.column-title{
    font-size: 29px;
    font-weight: bold;
}
.price{
    padding: 10px 0;
    font-weight: bold;
}
.deadline{
    font-size: 14px;    
}
.list{
    padding: 35px 0;
}
.list ul li{
    list-style: none;
}
.main-column .list ul li{
    position: relative;
    padding: 10px 0 10px 20px;
}
.user::before,
.users::before,
.folder::before,
.share::before{
    color: black;
    font-family: FontAwesome;
    position: absolute;
    margin-left: -20px;
}
.user::before{
    content: " \f007";
}
.users::before{
    content: " \e533";
}
.folder::before{
    content: " \f07b";
}
.share::before{
    content: " \f1e0";
}
.btn-width-small{
    width: 100%;
    padding: 15px 0;
}
.link-column{
    padding: 30px 0px;
}
.link-column a{
    color: blue;
}
.small-line{
    border-top: solid #D9D9DB 1px;
    width: 20%;
}
.low-title{
    font-weight: bold;
}
.tick::before{
    content: " \f00c";
    font-family: FontAwesome;
    position: absolute;
    margin-left: -20px;
    color: blue;
}
.cont-small-table{
    display: flex;
    justify-content: space-between;
    padding: 35px;

}
.txt-small-table{
    width: 60%;
}
.txt-table{
    padding: 30px 0 20px 0;
}
.btn-table{
    width: 30%;
} 
.flex-cont{
    display: flex;
    justify-content: space-between;
}
.img-section{
    width: 60%;
}
.txt-section{
    width: 35%;
}
.btn-section{
    width: 50%;
    padding: 5px 0;
    text-align: center;
    margin: 15px 0;
    height: 4vh;
    background-color: white;
}
.square-section{
    padding-top: 100px;
    display: flex;
}
.cont-square{
    width: calc(100% - 64vw);
    padding: 40px;
    background-color: var(--bgcolor4);
    height: 32vw;
    overflow: auto;
}
.cont-square::-webkit-scrollbar {
    display: none;
}
.square{
    width: 16vw;
    height: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square:hover{
    border: 25px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
.flex-square{
    display: flex;
    flex-wrap: wrap;
    width: 32vw;
}
.square img{
    width: 50%;
    filter: invert();
}
.card-1{
    background-color: var(--bgcolor5); 
}
.card-2{
    background-color: var(--bgcolor6);
}
.card-3{
    background-color: var(--bgcolor7);
}
.card-4{
    background-color: var(--bgcolor8);
}
.card-5{
background-color: var(--bgcolor9);
}
.card-6{
    background-color: var(--bgcolor3);
}
.card-7{
    background-color: var(--bgcolor10);
}
.card-8{
    background-color: var(--bgcolor11);
}
.logo-central-card{
    width: 50%;
}
.color-txt{
    color: #61082B;
}
.jumbo .container div:last-child{
    width: 20%;
}
.pad-bot13 .list ul li{
    padding: 30px 0;
    font-weight: bold;
    border-top: 1px solid var(--bord-col3);
    cursor: pointer;
}
.pad-bot13 .list ul li:last-child{
    border-bottom: 1px solid var(--bord-col3);
}
.answer{
    font-weight: normal;
    padding-top: 20px;
    display: none;
}
.container .list ul li:hover .answer{
    display: block;
}
.arrow-answer{
    position: absolute;
    left: 90%;
}
.arrow-answer-up{
    position: absolute;
    left: 90%;
    transition: 1s;
    display: none;
}
.container .list ul li:hover .arrow-answer{
    display: none;
}
.container .list ul li:hover .arrow-answer-up{
    display: block;
}
/* footer */
footer{
    background-color: var(--bord-col3);
    color: white;
    height: 50vh;
}
.foot-li-title{
    font-weight: bold;
    font-size: 25px;
    padding: 25px 0;
}
.list-footer ul li{
    text-decoration: none;
    list-style: none;
    line-height: 35px;
}
.list-footer ul li a{
    text-decoration: none;
    color: white;
}
.list-footer{
    width: calc(100% / 5 - 40px);
}
.line-foot{
    margin-top: 70px;
    border-top: 1px solid white;
    width: 8%;   
}
.txt-lang{
    font-size: 12px;
}
/* pagina bonus */
.selected{
    font-weight: bold;
}
/* se si clicca su logo si ritorna in index */
/* Dropdown */
.dropdown{
    position: relative;
}
.dropdown:hover{
    background-color: var(--bgcolor12);
    border-radius: 10px 10px 0 0; 
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 30vw;
    top: 80px;
    left: 0px;
    background-color: var(--bgcolor12);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: flex;
    border-radius: 0 10px 10px 10px ; 
}
.dropdown-content .cont-drop ul li{
    padding: 10px 50px;
}
