@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* header */
header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
}
.txt-head{
    display: flex;
    align-items: center;
}
.ul-head ul li{
    display: inline-block;
    list-style: none;
}
.ul-head ul li a,
.btn a,
.btn-section a
{
    text-decoration: none;
    padding: 30px 20px;
    color: black;
}
.ul-head ul li a:hover{
    border-bottom: solid 3px black;
}
.btn{
    background-color: #0061FF;
    padding: 5px 0;
    text-align: center;
}
.btn a{
    color: white;
}
/* main */
main{
    padding-top: 80px;
    height: 3000px;
}
.jumbo{
    background-color: #B4D0E7;
    width: 100%;  
    display: flex;
    justify-content: center; 
}
.cont{
    width: 65vw;
}
.cont h1{
    font-size: 80px;
    padding: 60px 0;
}
.cont-txt-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.txt-jumbo{
    width: 31%;
}
.btn-width{
    width: 250px;
    padding: 15px 0;
    margin: 40px 0;
}
.arrow{
    padding-top: 53px;
    font-size: 50px;
}
.arrow a{
    text-decoration: none;
    color: black;
}
.img-jumbo{
    width: 69%;
    position: relative;
}
.img-jumbo img{
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
.container-section{
    display: flex;
    justify-content: center;
}
.container{
    width: 55vw;  
    padding-top: 13vh;
}
.div-font{
    font-size: 43px;
    font-weight: 700;
    padding: 20px 0;
}
.fake-radio{
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.radio{
    width: 15px;
    height: 15px;
}
.checked{
    border: #0061FF solid 4px;
    border-radius: 100%;
}
.unchecked{
    border: grey solid 2px;
    border-radius: 100%;
}
.txt-radio{
    padding: 0 30px 0 5px; 
}
.cont-column{
    display: flex;
    justify-content: space-between;
}
.column{
    border: 1px solid #D9D9DB;
    width: calc(100% / 3 - 40px);
    margin-bottom: 30px;
}
.head-column{
    text-align: center;
    border-bottom: 1px solid #D9D9DB;
    padding: 5px;
    font-size: 15px;
}
.main-column{
    padding: 25px;
}
.column-title{
    font-size: 29px;
    font-weight: bold;
}
.price{
    padding: 10px 0;
    font-weight: bold;
}
.deadline{
    font-size: 14px;    
}
.list{
    padding: 35px 0;
}
.list ul li{
    list-style: none;
    position: relative;
    padding: 10px 0 10px 20px;
}
.user::before,
.users::before,
.folder::before,
.share::before{
    color: black;
    font-family: FontAwesome;
    position: absolute;
    margin-left: -20px;
}
.user::before{
    content: " \f007";
}
.users::before{
    content: " \e533";
}
.folder::before{
    content: " \f07b";
}
.share::before{
    content: " \f1e0";
}
.btn-width-small{
    width: 100%;
    padding: 15px 0;
}
.link-column{
    padding: 30px 0px;
}
.link-column a{
    color: blue;
}
.small-line{
    border-top: solid #D9D9DB 1px;
    width: 20%;
}
.low-title{
    padding-top: 30px;
    font-weight: bold;
}
.tick::before{
    content: " \f00c";
    color: black;
    font-family: FontAwesome;
    position: absolute;
    margin-left: -20px;
    color: blue;
}

.small-table{
    border: 1px solid #D9D9DB;
}
.cont-small-table{
    display: flex;
    justify-content: space-between;
    padding: 35px;

}
.txt-small-table{
    width: 70%;
}
.txt-table{
    padding: 30px 0 20px 0;
}
.btn-table{
    width: 30%;
} 
.flex-cont{
    display: flex;
    justify-content: space-between;
}
.img-section{
    width: 60%;
}
.img-section img{
    width: 100%;
}
.txt-section{
    width: 35%;
    padding-top: 50px;
}
.btn-section{
    border: solid 1px;
    width: 50%;
    padding: 5px 0;
    text-align: center;
    margin: 15px 0;
}